<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Threshold Information</title>
    <style>
        h1 {
            text-align: center;
        }
        .container{
            background-color: rgb(205, 205, 205);
            border: 6px rgb(rgb(0, 0, 0), green, blue);
            padding: 10px;
            margin: 5px;
        }
    </style>
    
</head>
<body>
    <ul>
        
    <h1 style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif;">INVENTORY INFORMATION FOR FARM {{ farm }} </h1>
    {% for obj in data %}
    <div class="container" style="color: black;">STOCK NAME : {{ obj.category_name }}
        <br>
                                                   STOCK QUANTITY : {{ obj.quantity }}
    </div>
    {% endfor %}
    </ul>
</body>
</html>